*{
 margin:0% ;
padding:0%;
}
.corpo pagina{
background-color: black;   
color: rgb(238, 238, 238);
}
.cabeçalho titulo{
font-size: 60px;
text-align: center;
}
.cabeçalho subtitulo{
text-align: center;    
}
.seção introdução{
text-align: justify;
 margin: 20px;  
padding: 20px;
font-size: 30px;
}
.foto turma{
width: 100px;;  
}

}
.lista paginas secundarias{
background-color: black;
color: aliceblue;
justify-content: space-around;
}