*{
 margin:0% ;
padding:0%;
}
.cabeçalho{
background-color: black;   
color: aliceblue;
}
.cabeçalho-titulo{
font-size: 60px;
text-align: center;
}
.cabeçalho-subtitulo{
text-align: center;    
}
.seção-introdução{
background-color: black;
color: aliceblue;
}
.paragrafo-introdução{
text-align: justify;
font-size: 30%;
}
.lista-paginas-secundarias{
background-color: black;
color: aliceblue;
justify-content: space-around;
}